/* Global Styles */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #262626;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 13vh 0 16vh 0;
}

h3, p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Main Details Section */
.main_detalles {
    margin: auto;
    padding-top: 5vh;
}

/* Movie Details Section */
.dtl_pelicula {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    width: 100%;
    margin: auto;
}

/* Heart Icon */
.fa-heart {
    font-size: medium;
    margin: 15px;
}

.fa-heart:hover {
    transform: scale(1.2);
}

.fa-heart.fa-solid{
    color: #ff0000;
}

.fa-heart.fa-regular{
    color: #ffffff;
}

/* Info Section */
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
}

.trailer {
    margin: 10px;
    width: 600px;
    height: 330px;
}

.sinopsis {
    width: 300px;
    text-align: justify;
    align-self: flex-start;
    margin: 15px;
    margin-top: 0;
}

.fotos {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
    transition: transform 300ms ease-out;
}

.fotos:hover {
    transform: scale(1.02);
}

/* Nom and Fav Section */
#nomandfav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

/* Responsive Styles */
@media (max-width: 420px) {
    body {
        padding-top: 30vh;
        padding-bottom: 7vh;
    }

    .fotos {
        width: 170px;
        height: 280px;
    }

    .main_detalles {
        width: 95vw;
        padding-bottom: 3vh;
    }

    .dtl_pelicula {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 0;
    }

    .sct_detail {
        width: 95vw;
    }

    .info {
        flex-wrap: wrap;
        width: 95vw;
    }

    .sinopsis {
        order: 2;
        font-size: small;
        width: 45%;
        margin-left: 15px;
    }

    .trailer {
        order: 3;
        height: 280px;
        width: 90vw;
    }
}