*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #262626;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 13vh;
    padding-bottom: 16vh;
}