.navegador {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; 
}

.buscador{
    display: flex;
    justify-content: space-evenly;
}

.lupa{
    margin-right: 5px;
    background-color: #5028f0;
    color: white;
    border: 0px;
    size: 5px;
}

.buscar{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgba(255, 255, 255, 0.333);
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
    border: 0;
}