h3{
    font-family: 'Roboto', sans-serif;
    color: white;
}

h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
}

p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12px;
}
.main_home{
    margin: auto;
}

.main_detalles{
    margin: auto;
    padding-top: 5vh;
}

.titfav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.fa-heart{
    justify-self: flex-end;
}

.fotos{
    /* height: 330px;
    width: 220px; */
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.5);
    transition: transform 300ms ease-out;
}

.fotos:hover {
    transform: translate(0px, 0px) scale(1.02, 1.02);
}

.seccion{
    margin-bottom: 40px;
}

.gen{
    padding-bottom: 0%;
    margin-top: 0px;
}

.portada{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-right: 20px;
    padding: 40px;
    width: 260px;
}

.pelicula{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 5px;
    line-height: 0px;
    flex-wrap: nowrap;
    padding: 20px 0 20px 25px;
    width: 100%;
}

.categoria{
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.vermas{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}
.mostrar {
    display: block; /* Muestra el contenido */
}

.ocultar {
    display: none;  /* Oculta el contenido */
}

.desc {
    margin: 15px 0  ;
    padding: 10px;
    line-height: 1.6;
    text-align: justify;
    background-color: #5028f0;
    border-radius: 5px;
    max-width: 100%;
}

.detalle a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5028f0; /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    padding-top: 16px;
    height: 35px;
}

.detalle a:hover {
    color: #2d63c8;
    background-color: #ffffff;
    transform: translate(0px, 0px) scale(1.02, 1.02);
}

.verDetalle {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px 20px;
    background-color: #5028f0; 
    color: white; 
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    height: 35px;
    border: 0px;
    font-size: small;
}

.verDetalle :hover {
    color: #2d63c8;
    background-color: #ffffff;
    transform: translate(0px, 0px) scale(1.02, 1.02);
    cursor: pointer;

}

.verDetalle:hover {
    color: #2d63c8;
    background-color: #ffffff;
    transform: translate(0px, 0px) scale(1.02, 1.02);
    cursor: pointer;

}

.botones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}
