.menu{
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.navegador {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-right: 150px;
    margin-left: 70px;
}


@media (max-width: 420px) {
    .menu {
        flex-direction: column;
        font-size: smaller;
        height: 30vh;
        width: 95vw;
    }
    .navegador{
        margin-right: 0;
    }
}